nav,.dropdown ul {
  background-color: #0275d8; 
}

  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .dropdown-menu li a{
    color: #fff;
  }

  .responsive-bg{
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    animation-name: animate;
    animation-duration:12s ;
    animation-iteration-count:infinite ;
    animation-timing-function: step-start;
  }
  @keyframes animate {
    30%{background-image: url(../MyImages/slide2.jpg);}
    60%{ background-image: url(../MyImages/school_student.jpg);}
    100%{ background-image: url(../MyImages/slide4.jpg);  } 
  }
table,tr,th,td{
  text-align: center;
  border: 2px solid black;
}
td{
  width: 100px;
}

