.header .image{
    height: 10vmin;
    width: 10vmin;
    object-fit: cover;
    border-radius: 50%;
}
.headerGif{
       
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../MyImages/headerGif.gif);
}
nav,.dropdown ul {
    background-color: #171533; 
  }
  
    .dropdown:hover .dropdown-menu{
      display: block;
    }
  
    .dropdown-menu li a{
      color: #fff;
    }
  
    .responsive-bg{
      height: 68vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     
      animation-name: animate;
      animation-duration:12s ;
      animation-iteration-count:infinite ;
      animation-timing-function: step-start;
    }
    @keyframes animate {
      30%{background-image: url(../MyImages/slide2.jpg);}
      60%{ background-image: url(../MyImages/school_student.jpg);}
      100%{ background-image: url(../MyImages/slide4.jpg);  } 
    }
 
  .stdtr td{
    width: 400px;
  }
  
  .AttTable,th,.AttRow,.AttCol{
    border: 1px solid black;
    text-align: center;
  }
  .AttRow .AttCol{
    width: 300px;
    white-space: nowrap;
  }
  .adminbtn button{
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    background-color: #171533;
    border: none;
    text-align: start;
    color: #fff;
    margin-top: 3px;
  }
  .adminbtn button:hover{
      background-color: #fff;
      color: #171533;
  }
  .stdNameBtn{
    border: none;
    background-color: #fff;
  }
  .stdViewBtn{
    border: none;
    background-color: #fff;
    color: blue;
  }